Source: helixbilling
Section: non-free/net
Priority: extra
Maintainer: Webdrive Developers <developers@webdrive.ru>
Build-Depends-Indep: debhelper (>= 7), python2.5, helixcore, helixutils
Standards-Version: 3.7.3
Homepage: http://webdrive.ru
XS-Python-Version: 2.5

Package: helixbilling
Recommends: postgresql
Depends: python, python2.5, helixcore, helixutils, python-setuptools, python2.5-dev, python-tz, \
    python-cjson (>= 1.0.5), supervisor, adduser, dbconfig-common, debconf, nginx, sysv-rc
Architecture: all
XB-Python-Version: ${python:Versions}
Description: Helix family billing package
 Helix billing.
