#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


export FAKE_ROOT=$(CURDIR)/debian/helixbilling
export DESTDIR=$(FAKE_ROOT)/usr/share/python-support/helixbilling
export DESTDIR_SHARE=$(FAKE_ROOT)/usr/share/helixbilling

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	
	# Add here commands to compile the package.
	#$(MAKE)
	#docbook-to-man debian/helixbilling.sgml > helixbilling.1
	#python src/helixbilling_tests.py
	
	touch $@

build-indep:
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	cp -r src/helixbilling $(DESTDIR)
	find $(DESTDIR) -name '*pyc' -exec rm {} \;
	cp -r src/patches $(DESTDIR_SHARE)
	install src/helixbilling_install $(DESTDIR_SHARE)
	find $(DESTDIR_SHARE) -name '*pyc' -exec rm {} \;
	install src/helixbilling_run $(FAKE_ROOT)/usr/bin
	install -m 0644 supervisor-config/helixbilling.ini $(FAKE_ROOT)/etc/supervisor/process-available
	mv $(DESTDIR)/helixbilling/conf/settings.py $(DESTDIR_SHARE)/settings.py.tpl
	install -d -m 0755 $(FAKE_ROOT)/etc/nginx/sites-available
	cp -r nginx/* $(FAKE_ROOT)/etc/nginx/sites-available

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
	dh_pysupport --noscripts
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install configure
